.faculty-sidebar {
    width: 13%;               
    height: 100%;
    padding-top: 20px;        
    color: #ffffff;
    display: flex;
    background-color: #133E87; 
    flex-direction: column;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.faculty-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.faculty-sidebar li {
    padding: 15px 20px;
}

.faculty-sidebar li.active,
.faculty-sidebar li:hover {
    background-color: #7788d8;
    border-radius: 10px;
}

.faculty-sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

/* Responsive: skrivanje sidebar-a na manjim ekranima 
@media (max-width: 768px) {
    .faculty-sidebar {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 0;
    }

    .faculty-sidebar li {
        display: inline-block;
        padding: 10px;
    }
}
*/